1) How-to-count-distance-to-the-previous-zero
    For each value, count the difference of the distance from the previous zero (or the start
    of the Series, whichever is closer) and if there are no previous zeros,print the position
    Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
    The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
    Series of random numbers.
3) Find the sum of the values in s for every Wednesday
4) Average For each calendar month
5) For each group of four consecutive calendar months in s, find the date on which the
    highest value occurred.

In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [17]:
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

In [22]:
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

In [23]:
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

Create a DatetimeIndex that contains each business day of 2015 and use it to index a
    Series of random numbers

In [32]:
datetimeindex = pd.date_range(start='2015-01-01', end='2015-12-31')
s = pd.Series(np.random.rand(len(datetimeindex)),index=datetimeindex)

In [33]:
s

2015-01-01    0.926964
2015-01-02    0.383274
2015-01-03    0.069554
2015-01-04    0.110599
2015-01-05    0.459986
2015-01-06    0.621769
2015-01-07    0.146667
2015-01-08    0.895377
2015-01-09    0.225631
2015-01-10    0.961946
2015-01-11    0.052307
2015-01-12    0.448042
2015-01-13    0.023784
2015-01-14    0.410521
2015-01-15    0.266414
2015-01-16    0.039084
2015-01-17    0.789762
2015-01-18    0.433036
2015-01-19    0.315552
2015-01-20    0.140874
2015-01-21    0.650616
2015-01-22    0.341378
2015-01-23    0.886486
2015-01-24    0.665438
2015-01-25    0.201280
2015-01-26    0.709906
2015-01-27    0.398883
2015-01-28    0.927691
2015-01-29    0.971067
2015-01-30    0.307280
                ...
2015-12-02    0.559491
2015-12-03    0.040391
2015-12-04    0.687447
2015-12-05    0.363635
2015-12-06    0.011687
2015-12-07    0.129311
2015-12-08    0.226988
2015-12-09    0.932121
2015-12-10    0.483676
2015-12-11    0.263739
2015-12-12    0.638040
2015-12-13    0.020520
2015-12-14    0.771052
2015-12-15    0.706644
2015-12-16    0.510349
2015-12-17    0.664550
2015-12-18    0.770608
2015-12-19    0.730076
2015-12-20    0.762269
2015-12-21    0.748538
2015-12-22    0.559106
2015-12-23    0.346563
2015-12-24    0.178406
2015-12-25    0.918509
2015-12-26    0.111831
2015-12-27    0.745160
2015-12-28    0.336900
2015-12-29    0.777220
2015-12-30    0.390640
2015-12-31    0.736311
Freq: D, Length: 365, dtype: float64

3) Find the sum of the values in s for every Wednesday

In [47]:
s[datetimeindex.weekday_name == 'Wednesday'].sum()

25.528718918177344

4) Average For each calendar month

In [67]:
s.groupby(pd.Grouper(freq='M')).mean()

2015-01-31    0.460212
2015-02-28    0.453634
2015-03-31    0.502368
2015-04-30    0.561537
2015-05-31    0.476239
2015-06-30    0.494172
2015-07-31    0.516532
2015-08-31    0.538861
2015-09-30    0.606235
2015-10-31    0.522946
2015-11-30    0.466431
2015-12-31    0.510784
Freq: M, dtype: float64

For each group of four consecutive calendar months in s, find the date on which the
    highest value occurred.

In [66]:
s.groupby(pd.Grouper(freq='4M')).max()

2015-01-31    0.971067
2015-05-31    0.977574
2015-09-30    0.998938
2016-01-31    0.998148
dtype: float64